# Misc
*.log
.phpactor.json
/.fleet
/.nova
/.zed
*.zip
*.tar.gz
/auth.json
/node_modules
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Laravel core
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Laravel environment
.env
.env.*
!.env.example

# IDE and OS files
/.idea
/.vscode
.DS_Store
*.swp
*.swo

# Laravel testing
.phpunit.result.cache
/.phpunit.cache

# Composer & NPM
composer.lock
npm-debug.log
yarn-error.log

# Vite / Mix artifacts
/public/hot
/public/mix-manifest.json
/public/js/*.js
/public/js/**/*.js
/public/css/*.css
/public/css/**/*.css
/public/build
/public/css/
/public/js/

# Laravel Telescope & Debugbar
storage/debugbar/
storage/telescope/

# Laravel IDE Helper
_ide_helper.php
.phpstorm.meta.php